#mainButtons {
  height: 500px;
  width: 500px;
}

#armDrone {
  background-color: red;
  height: 50%;
  width: 50%;
  font-size: 200%;
}
#armDrone:hover {
  opacity: .5;
  cursor: pointer;
}

#mavproxy {
  background-color: red;
  height: 50%;
  width: 50%;
  font-size: 200%;
}
#mavproxy:hover {
  opacity: .5;
  cursor: pointer;
}

#form {
  display: grid;
  grid-gap: 5px;
  padding: 0 150px;
  margin: 10px;
  text-align: center;
}
.allSelects {
  margin: 10px;;
}